<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.moziqi.generic">

    <uses-sdk android:minSdkVersion="7" />


    <uses-permission android:name="android.permission.INTERNET" />

    <!--对SD卡进行读写操作权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--"gps" location provider-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--百度LBS-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".common.constant.GenericApplication"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/CustomActionBarTheme">
        <!--TODO 兼容旧版本，显示-Using split action bar-->
        <meta-data
            android:name="android.support.UI_OPTIONS"
            android:value="splitActionBarWhenNarrow" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Q628b8ZzKzxRc0udlz4hgYCB" />

        <activity
            android:name=".company.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".company.activity.LoadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_loading"
            android:parentActivityName="org.moziqi.generic.company.activity.MainActivity">
            <!-- http://blog.csdn.net/guolin_blog/article/details/18234477 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.moziqi.generic.company.activity.MainActivity" />
        </activity>

        <activity
            android:name="com.example.photoswalldemo.MainActivity"
            android:label="@string/app_name"></activity>

        <receiver android:name=".company.BroadcastReceiver.PowerConnectionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_POWER" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.ACTION_BATTERY_LOW" />
                <action android:name="android.intent.action.ACTION_BATTERY_OKAY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
